* {
  background-color: pink;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.title,
.subtitle {
  text-align: center;
  color: lightcoral;
}

.subtitle {
  color: lightgoldenrodyellow;
}

p a {
  text-decoration: none;
}

.recipe li {
  font-size: 30px;
}

ul {
  list-style-type: none;
  display: table;
  margin: 0 auto;
  padding: 0;
}

ul li {
  text-align: center;
}

li {
  color: black;
  padding: 5px;
}

li a {
  text-decoration: none;
}

li a:hover {
  color: black;
}

.text {
  font-size: 18px;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
